In [1]:
import findspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
findspark.init()
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [ ]:
%%html
<style>
.output_subarea.output_text.output_stream.output_stdout > pre {
  width:max-content;
}
.p-Widget.jp-RenderedText.jp-OutputArea-output > pre {
  width:max-content;
}
</style>

In [ ]:
rdd=sc.parallelize([item for item in range(10)]).map(lambda x: (x, x**2))
rdd.collect()

In [ ]:
df= rdd.toDF(["numero","cuadrado"])

df.printSchema()

In [ ]:
df.show()

In [ ]:
rdd1=sc.parallelize([(1, "Jose", 35.5),(2,"Teresa",54.3),(3,"Katia", 12.7)])

In [ ]:
#Via uno

esquema1= StructType(
    [
     StructField("id", IntegerType(), True),
     StructField("nombre", StringType(), True),
     StructField("saldo", DoubleType(), True),
    ]
)

#Via dos

esquema2="`id` INT, `nombre` STRING, `saldo` DOUBLE"

df1=spark.createDataFrame(rdd1, schema=esquema1)

df1.printSchema()

In [ ]:
df1.show()

In [ ]:
# Crear un DataFrame mediante la lectura de un archivo de texto

df = spark.read.text('./data/dataTXT.txt')

df.show()

df.show(truncate=False)

In [ ]:
# Crear un DataFrame mediante la lectura de un archivo csv

df1 = spark.read.csv('./data/dataCSV.csv')

df1.show()

In [ ]:

df1 = spark.read.option('header', 'true').csv('./data/dataCSV.csv')

df1.show()

In [ ]:

df2 = spark.read.option('header', 'true').option('delimiter', '|').csv('./data/dataTab.txt')

df2.show()

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType

json_schema =  StructType(
    [
     StructField('color', StringType(), True),
     StructField('edad', IntegerType(), True),
     StructField('fecha', DateType(), True),
     StructField('pais', StringType(), True)
    ]
)

df4 = spark.read.schema(json_schema).json('./data/dataJSON.json')

df4.show()

In [ ]:
df4.printSchema()

In [ ]:
df5 = spark.read.parquet('./data/dataPARQUET.parquet')

df5.show()

In [ ]:

# Otra alternativa para leer desde una fuente de datos parquet en este caso

df6 = spark.read.format('parquet').load('./data/dataPARQUET.parquet')

df6.printSchema()

In [ ]:
df = spark.read.parquet('./data/dataPARQUET.parquet')

df.printSchema()

In [ ]:
# Primera alternativa para referirnos a las columnas

df.select('title').show()

In [ ]:

df.select(col('title'), col('likes')).show()

In [ ]:
# select

df = spark.read.parquet('./data/datos.parquet')

df.printSchema()

In [ ]:
from pyspark.sql.functions import col

df.select(col('video_id')).show()

In [ ]:
df.select('video_id', 'trending_date').show()

In [ ]:
# Esta vía nos dará error

df.select(
    'likes',
    'dislikes',
    ('likes' - 'dislikes')
).show()

In [ ]:
df.select(
    col('likes'),
    col('dislikes'),
    (col('likes') - col('dislikes')).alias('aceptacion')
).show()

In [ ]:
# selectExpr
df.selectExpr('likes', 'dislikes', '(likes - dislikes) as aceptacion').show()

In [ ]:
df.selectExpr("count(distinct(video_id)) as videos").show()

In [2]:
df_prueba = spark.read.parquet('./data/datos.parquet')
df_prueba2=df_prueba.select('title').filter(col('title').like('%WE WANT TO TALK%'))
df_prueba2.show()

+--------------------+
|               title|
+--------------------+
|WE WANT TO TALK A...|
|WE WANT TO TALK A...|
|WE WANT TO TALK A...|
|WE WANT TO TALK A...|
|WE WANT TO TALK A...|
|WE WANT TO TALK A...|
|WE WANT TO TALK A...|
+--------------------+

In [ ]:
#Filter
df = spark.read.parquet('./data/datos.parquet')
df.show( )

In [ ]:
df.filter(col('video_id') == "2kyS6SvSYSE").show()

In [ ]:
#Where
df1 = spark.read.parquet('./data/datos.parquet').where(col("trending_date") != '17.14.11')

In [ ]:
df1.show()

In [ ]:
df2=spark.read.parquet('./data/datos.parquet').where(col("likes")>5000)

In [ ]:
df2.filter(col("trending_date") != '17.14.11').filter(col("likes")<7000)